# Environnement Python
.venv/
__pycache__/
*.py[cod]

# Secrets
.env

# VS Code
.vscode/

# Images et fichiers générés volumineux
data/samples/
data/crops/
data/reports/
data/raw/
data/exported/

# Futurs modèles entraînés
models/
*.pt
*.pth
*.onnx

# Fichiers système
Thumbs.db
.DS_Store